html {
    width: 1100px;
}

#yuan1 {
            width:40px;
            height: 40px;
            border-radius: 50%;
            position: absolute;
            bottom: 300px;
            left:900px; 
            background-color: rgb(47, 47, 193);
            z-index: 1;
            border: 3px solid black;
}
#yuan1:hover {
    background-color: rgb(255, 230, 0);
}
#yuan2 {
    width:40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    bottom: 330px;
    left:330px; 
    background-color: rgb(47, 47, 193);
    z-index: 1;
    border: 3px solid black;
}
#yuan2:hover {
background-color: rgb(255, 230, 0);
}
#yuan3 {
    width:40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    bottom: 290px;
    left:370px; 
    background-color: rgb(47, 47, 193);
    z-index: 1;
    border: 3px solid black;
}
#yuan3:hover {
background-color: rgb(44, 155, 16);
}

#triangle-topleft {
    top: 0px;
    left: 0px;
    width: 0;
    height: 0;
    border-top: 100px solid rgb(47, 47, 193);
    /* border-top: 100px solid black; */
    border-right: 100px solid transparent;
    position: absolute;
    z-index: 0;
  }
  #triangle-topleft:hover {
  border-top: 100px solid rgb(154, 142, 28);

    border-right: 100px solid transparent;
  }
  p.ii{
    position: absolute;
    top: 0px;
    left: 0px;
    color: rgba(255, 255, 255, 0.686);
    z-index: 2;
    font-family: icomoon;
  }
  #youxiajiao {
    bottom: 0px;
    right: 0px;
    width: 0;
    height: 0;
    /* border-top: 100px solid rgb(47, 47, 193); */
    /* border-bottom: 100px solid black; */
    border-bottom:100px solid rgb(142, 22, 22);
    border-left: 100px solid transparent;
    position: absolute;
    z-index: 0;
  }
  #youxiajiao:hover {
    border-bottom:100px solid rgb(35, 168, 168);
    border-left: 100px solid transparent;
  }

  